<!DOCTYPE html>
<html>
  <head>
    <title>Cartorio</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'document', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
